.container{
 text-align: center;
  width: 100%;
  padding-top: 15px;
  background: black;
}

.col1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.delete{
  border: 3px solid red;
  border-radius: 50%;
  margin-left: 30px;
  cursor: pointer;
  color: red;
  font-size: 13px;
  cursor: pointer;
}

h4{
  color: white;
  margin: 20px;
  cursor: pointer;
}

.poster{
  box-shadow: 0 1px 5px white;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner .8s ease infinite;
}


.loading {
  color: red;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: red;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

td{
 width: 10px;
}

.com{
  margin-top: 100px;
}

.form{
  color: white;
  display: block;
}

#review{
  height: 50px;
}

label{
  display: block;
  padding: 10px;
}

.spanDown{
  border: 15px solid transparent;
  border-top: 20px solid darkslateblue;
}

.down{
  color: darkslateblue;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 15px;

}

button{
  background: darkslateblue;
  color: white;
  width: 60px;
  height: 25px;
  margin-top: 10px;
}

.rev{
  background: white;
  display: inline-block;
  padding: 5px;
}

hr{
  display: inline-block;
  width: 300px;
}
