<div class="container">
  <app-newfilm></app-newfilm>
  <div *ngIf="isFetching" class="spinner"></div>
  <div *ngIf="!isFetching">
    <div
      class="col1"
      *ngFor="let film of service.film"
      [routerLink]="[film.id]"
    >
      <table>
        <tr>
          <td><img [src]="film.poster" alt="poster" width="100px" class="poster"></td>
          <td><h4>{{ film.title }}</h4></td>
          <td><p class="delete"
                 (click)="service.deleteFilm(film.id)">
            <span *ngIf="isFetchingDelete" class="loading"></span>
            <span *ngIf="!isFetchingDelete">❌</span></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col2">
    <router-outlet></router-outlet>
  </div>

  <p class="down">написать отзыв о фильме<span class="spanDown"></span></p>
  <form
    (submit)="sendComments()"
    class="form"
  >
    <label for="name">name:</label>
    <input type="text" id="name" #name>
    <br>
    <label for="film">name film:</label>
    <input type="text" id="film" #film>
    <br>
    <label for="review">review:</label>
    <input type="text" id="review" #review>
    <br>
    <button type="submit">send</button>
  </form>

  <div
    class="com"
  *ngFor="let com of service.comment"
  >
    <hr>
    <h4>{{ com.name }} про {{ com.film }}</h4>
    <p class="rev">{{ com.review}}</p>
    <br>
    <hr>
  </div>
</div>


