<div
  class="container"
>
  <h1>{{ service.filmOne.title }}</h1>
  <img [src]="service.filmOne.poster" alt="poster" class="poster">
  <h4><i>{{ service.filmOne.description }}</i></h4>
  <p class="down">смотреть онлайн<span class="spanDown"></span></p>
  <iframe
    [src]="sanitizer.bypassSecurityTrustResourceUrl(service.filmOne.video)"
    width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" allowfullscreen>
  </iframe>

</div>

