h4{
  font-size: 20px;
  padding: 10px;

}

.spanDown{
  border: 15px solid transparent;
  border-top: 20px solid darkslateblue;
}

.down{
  color: darkslateblue;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container{
  width: 60%;
  margin: 0 auto;
  background: white;
  padding: 50px 20px;
}

.poster{
  box-shadow: 0 0 15px darkslateblue;
  width: 40%;
}

h1{
  color: darkslateblue;
}


iframe{
  width: 60%;

}
