label{
  margin: 10px;
  color: white;
}

button{
  background: darkslateblue;
  color: white;
  margin-left: 10px;
  width: 60px;
  height: 25px;
}

.loading {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
