<form>
    <label for="title">name film:</label>
    <input type="text" id="title" #title>

    <label for="description">description film:</label>
    <input type="text" id="description" #description>

    <label for="urlImage">url image film:</label>
    <input type="text" id="urlImage" #urlImage>

    <label for="urlVideo">url video film:</label>
    <input type="text" id="urlVideo" #urlVideo>
    <button
      type="submit"
      (click)="sendForm()"
      [disabled]="isFetching"
    >
      <span *ngIf="isFetching" class="loading"></span>
      <span *ngIf="!isFetching">add</span>
    </button>
  </form>

